:root {
    --bg-main: #FFDF8C;
    --bg-black: #282828;
    --orange: #FE5F1E;
    --red: #EB5A1E;
    --white: #ffffff;

    --text-black: #000000;
    --text-black1: #181818;
    --text-black2: #2C2C2C;
    --text-gray-dark: #7B7B7B;
    --text-gray: #D0D0D0;
    --text-gray-light: #CACACA;
}